.error {
    border: 1px solid red;
}

.errorMessage {
    color: red;
}

.activeButton {
    background-color: #f74464;
    height: 30px;
    border-radius: 8px;
    width: 80px;
    border: none;

    margin: 5px;
    font-weight: bold;
}

.button {
    background-color: #c9d8f5;
    width: 80px;
    border: none;
    height: 30px;
    border-radius: 8px;
    margin: 5px;
    font-weight: bold;
}

.study {
    text-decoration: line-through;

}

.ul {
    font-size: 20px;
    background-color: #c4c4c4;
    width: 340px;
    margin: 10px;
    border-radius: 10px;

}

.map {

    border-radius: 30px;
    background-color: #6a7285;
    position: relative;
    top: 50px;
    height: auto;
    width: 400px;
    box-shadow: 20px 20px rgba(74, 102, 103, 0.37);
    color: #f74464;
}

.filter {
    display: flex;
    margin-left: 65px;
}

.nameTask {

    text-align: center;
}

.addTask {
   

    margin-left: 30px;
}

.input {
    background-color: #c4c4c4;
    width: 180px;
    height: 30px;
    border-radius: 8px;
    border: none;
    padding-left: 10px;
    margin-left: 30px;
}