.listAll {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}


.map {

    border-radius: 30px;
    background-color: #1D515E;
    position: relative;
    top: 50px;
    height: auto;
    width: 300px;
    box-shadow: 20px 20px rgba(74, 102, 103, 0.37);
}